@import "helpers/_variables.css";
@import "helpers/_reset.css";
@import "helpers/_typo.css";

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: linear-gradient(var(--bg-up) 0%, var(--bg-up) 20%, var(--bg-down) 20%, var(--bg-down) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*COMMONS*/
.left-col,
.right-col,
.name,
.screen {
    display: flex;
    flex-direction: column;
}
.header-box,
.notice i,
.notice > div {
    display: flex;
    align-items: center;
}
.people,
.screen {
    overflow-y: auto;
}
.header-box img,
.people img,
.fa-solid.fa-bell-slash {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
}
.search,
.send-bar {
    padding: var(--font-small);
    display: flex;
}
.name,
.people,
.screen,
.search input,
.send-bar input {
    flex-grow: 1;
}
.search button,
.send-bar button {
    width: 5rem;
    padding: var(--font-small) var(--font-basis);
    text-align: center;
}
.people-box:hover {
    background-color: #F4F5F5;
}
.icons i,
.name {
    margin: 0 .625rem;
}
.sent,
.received {
    padding: var(--font-small) var(--font-basis);
    width: 40%;
    border-radius: var(--font-small);
}
/*CORP*/
#container {
    width: 80%;
    height: calc(100vh - 10%);
    display: flex;
    background-color: var(--header-col);
}
.header-box {
    background-color: var(--header-col);
    padding: var(--font-small);
}
.header-box:first-child {
    border-left: var(--border-style) #D6D6D6;
}
.people-box {
    padding: var(--font-basis);
}
/*left-col*/
.left-col {
    width: 35%;
}
.notice {
    background-color: var(--notice-col);
    padding: 0.8em var(--font-basis);
}
.notice i {
    background-color: var(--bg-primary);
    justify-content: center;
    color: var(--notice-col);
    font-size: 1.5em;
}
.notice > div {
    gap: var(--font-basis);
}
.search {
    background-color: #FAFAFA;
}
.search button,
.search input,
.people {
    background-color: var(--bg-primary);
}
.search button,
.search input {
    border: var(--border-style) var(--border-col);
}
.people-box {
    border-bottom: var(--border-style) var(--border-col);
    display: flex;
}
/*right-col*/
.right-col {
    width: 65%;
}
.access,
.hour {
    color: var(--dark);
}
.screen {
    background-image: url("../img/mine.jpg");
    padding: 2em 3em;
    gap: .625rem;
}
.sent {
    background-color: #D5F9BA;
    align-self: end;
}

.received {
    background-color: var(--bg-primary);
    align-self: flex-start;
}
.hour {
    text-align: end;
    font-size: 0.6em;
}
/*send-bar*/
.send-bar {
    background-color: #F3EEEA;
}
.send-bar button {
    background-color: inherit;
}
.send-bar input {
    height: 3.125rem;
    border-radius: 5px;
}
.send-bar i {
    --dark: #535151;
    font-size: 1.8em;
}